*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Brother-1816-Thin !important; */
}
html,body
{
    height: 100%;
    width: 100%;
    overflow-x:hidden;
}
.card-body img
{
    height: 100%;
    width: 100%;
}
.card
{
    border: none !important;
}
.card-text-box
{
    width: 100%;
    gap: 50;

}
.card-text-box p
{
    display: inline;
}
