*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Brother-1816-Thin !important; */
}
html,body
{
    height: 100%;
    width: 100%;
    overflow-x:hidden;
}
.header
{
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 9999;
}
.menu-outer
{
    font-size: 3.5vh;
}
.nav-img img
{
    height: 6vmax;
}
.icon-outer
{
    font-size: 1.9vmax;
}
.icon-outer i
{
    float: right;
    padding: 20px 15px 0px 0px;
    color: black;
}
.nav-items
{
    gap: 50px;

}
.nav-items ul
{
    list-style-type: none;
}
.nav-items ul li
{
    
    display: inline;
}
.nav-items ul li a
{
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
    margin-left: 30px;

}
.sliders
{
    height: 80vh;
    width: 100%;
    position: relative;
    background-size: cover;
}
.empty1
{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.121);
    position: absolute;
    top: 0px;
}
.empty1 h1
{
    position: relative;
    top: 300px;
    left: 30px;
    font-size: 3vw;
}
/* From Uiverse.io by alexmaracinaru */ 
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #f3cf4f03;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #222324;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #1c1c1d;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #ffc107;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }
  
  .cta
  {
    position: relative;
    top: 320px;
    left: 30px;
  }
  .search-box
  {
    border-top: 1px solid black;
    height: 50px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    display: none;
    
  }
  .search-box input
  {
    height: 50px;
    width: 90%;
    border: none;
    outline: none;
    padding-left: 10px;
    /* background-color: red; */

  }
  .search-box input::placeholder
  {
    font-size: 2vmax;
    font-weight: 900;
  }
  .search-box i
  {
    font-size: 2vmax;
  }
  .whatsapp-i
  {
    font-size: 4vmax;
    position: fixed;
    top: 650px;
    left: 40px;
    -webkit-text-fill-color: #4fc75b;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(251, 247, 247);
    z-index: 99999;
  }
  /* From Uiverse.io by SujitAdroja */ 
.btn1 {
  /* background-color: rgb(145, 176, 49); */
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid rgb(20, 19, 20);
  padding: 5px 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: 500;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  margin-top: 10px;
}

.btn1:hover {
  color: rgb(17, 17, 17);
}

.btn1::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: #f7cb1b;
  z-index: -1;
  transition: all 1s;
}
footer ul
{
  list-style-type: none;
}
footer ul li a
{
    text-decoration: none;
    color: black;
}
.foot1 ul li
{
  display: inline;
  margin-left: 10px;
  font-size: 2vmax;
}


.btn1:hover::before {
  width: 160%;
}
footer input
{
  width: 300px;
  height: 30px;
  outline: none;
  padding: 15px 5px;
}
.v-menu-outer
{
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.422);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
  display: none;
}
.v-menu
{
  height: 100vh;
  width: 350px;
  background-color: #1c1b1b;
  color: white;
  padding-right: 50px;
  position: relative;
  /* display: none; */
}
.v-menu ul
{
  list-style-type: none;
  text-transform: uppercase;
}
.v-menu a
{
  color: white;
  text-decoration: none;
}
.v-menu li
{
  padding-bottom: 10px;
  margin-top: 40px;
  border-bottom: 0.2px solid rgb(97, 94, 94);

}
.v-menu span a
{
  color: rgb(96, 95, 95);
  margin: 40px 0px 0px 35px;
  font-weight: bold;
}
.menu-icon-outer
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2vw;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-top: 1px solid rgb(95, 93, 93);
}
.menu-icon-outer i
{
  margin-left: 20px;
  font-size: 3vmax;
}
.v-menu .close2
{
  font-size: 2vmax;
  margin:20px 0px 0px 24px;
}
@media (max-width : 649px) {
    .icon-outer
    {
        font-size: 2.2vmax;
    }
    .icon-outer i
    {
        padding-top: 10px;
    }
    .search-box input
    {
      width: 85%;
    }
    .whatsapp-i
    {
      font-size: 5vmax;
      top: 510px;
    }
    .v-menu .close2
    {
      font-size: 3vh;
    }

}
